<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>ASC qwerty</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/cupertino/jquery-ui.min.css"/ >

        <!-- Styles -->
        <style>
            html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Raleway', sans-serif;
                font-weight: 100;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }
            
            .circle {
              width: 100px;
              height: 100px;
              border-radius: 50%;
              font-size: 70px;
              line-height: 100px;
              text-align: center;
              background: #8AEAB4;
              box-shadow: 5px 5px 2px #888888;
              cursor: pointer;
            }
           

            #map {
              height: 100%;
              width: 100%;
             }
        </style>
    </head>
    <body>
        <div class="flex-center position-ref full-height">
          <div id="map"></div>
          <div style="position:absolute;  z-index: 5; right:10px">
            <div id="add-event-btn" class="circle" style="color:black" >
            +
            </div>
          </div>
          <div id="add-event-panel" class="w3-container" style="border-radius: 1%; box-shadow: 5px 5px 2px #888888; display:none; position:absolute;  z-index: 5; background-color:white; width:20%; height:80%; right:10px">
            <form id="add-event-form" class="w3-container">
              <p>
                  <label>Naslov</label>
                  <input type="text" id="add-event-form-title" name="add-event-form-title">
              </p>
              <p>
                  <label>Datum</label>
                  <input type="text" id="add-event-form-date" name="add-event-form-date">
              </p>
              <p>
                  <label>Lokacija</label>
                  <input  type="text" placeholder="latituda" id="add-event-form-lat" name="add-event-form-lat">
                  <input  type="text" placeholder="longituda" id="add-event-form-lng" name="add-event-form-lng">
              </p>
              <p>
                  <label>Opis</label>
                  <textarea id="add-event-form-description" name="add-event-form-description"></textarea>
              </p>
              <p>
                  <label>Marker</label>
                  <select type="text" id="add-event-form-marker" name="add-event-form-marker">
                  <option value="cycling">Bicikl</option>
                  <option value="arts">Umjetnost</option>
                  <option value="golfer">Golfer</option>
                  <option value="restaurant">Ručak</option>
                  </select>
              </p>
              <button id="add-event-submit">Dodaj</button>

            </form>
          </div>
        </div>

    </body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script> 
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/static/app/moment.min.js"></script>

<script>
$(document).ready(function() {
    $('#add-event-btn').on('click',function() {
        $(this).hide();
        $('#add-event-panel').show();
    });
    
    $('#add-event-form-date').datepicker({ dateFormat: 'yy-mm-dd 12:00' });
    
    $('#add-event-submit').on('click',function() {
        event.preventDefault();
        $
        $("#add-event-form").ajaxForm({url: "/app/ajax/post_event/", type: 'post', error:function(msg) {console.log(msg)}});
        
        var title = $('#add-event-form-title').val();
        var date = $('#add-event-form-date').val();
        var location_lat = $('#add-event-form-lat').val();
        var location_lng = $('#add-event-form-lng').val();
        var description = $('#add-event-form-description').val();
        var markerType = $('#add-event-form-marker').val();
        
        var id = -1;
        $.ajax({
        url: "/app/ajax/post_event/",
        type: 'post',
        async:false,
        data: {
        title:title,
        date:date,
        location_lat:location_lat,
        location_lng:location_lng,
        description:description,
        markerType:markerType,
        csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(result){
            id = result;
        }
        });
        
        
        
        
        
        var latLng = new google.maps.LatLng(location_lat,location_lng);
        var image = 'https://maps.gstatic.com/mapfiles/ms2/micons/'+markerType+'.png';
        var marker = new google.maps.Marker({
            position: latLng,
            id: id,
            map: map,
            title: title,
            icon: image,
        });
        marker.setOpacity(0);
        
        google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
        
          return function() {
            console.log('test');
            content = getEventDetails(marker.id,marker.title);
            infowindow.setContent(content);
            infowindow.open(map,marker);
          };
      })(marker,marker.title + marker.infoWindow,infowindow));
      
     setTimeout(function() {
      fadeInMarkers([marker]);
    }, 300);
        
    
        
    });
});


var markerOpacity = markerOpacityIncrement = 0.05,
    markers = [];
var fadeInMarkers = function(markers) {
    if (markerOpacity <= 1) {
        for (var i = 0, len = markers.length; i < len; ++i) {
            markers[i].setOpacity(markerOpacity);
        }

        // increment opacity
        markerOpacity += markerOpacityIncrement;

        // call this method again
        setTimeout(function() {
            fadeInMarkers(markers);
        }, 50);

    } else {
        markerOpacity = markerOpacityIncrement; // reset for next use
    }
}
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
    zoom: 12,
    scrollwheel: 1,
    center: {
      lat: 45.796675,
      lng: 15.911854
    }


    });
    

    infowindow = new google.maps.InfoWindow();
    google.maps.event.addListener(map, 'click', function() {
      $('#add-event-panel').hide();
      $('#add-event-btn').show();
      infowindow.close();
    });
    
    /*google.maps.event.addListener(map, 'dragend', function(){
      putMarkers();
    });*/
    
    google.maps.event.addListenerOnce(map, 'idle', function(){
     putMarkers();
     }
    );

  }
  
  function getEventDetails(id,title) {
    console.log('test');
    $.ajax({
        url: "/app/ajax/get_event/"+id, 
        async: false,
        success: function(result){
            event = JSON.parse(result)[0].fields;
            date = moment(event.date).format('D.M.YYYY HH:mm');
            content = '<div align="center"><b>' 
                + title 
                + '</b><br>Vrijeme: '
                +date
                +'<br><br>' 
                + event.description
            +'</div>';
        }
    });
    return content;

  }
  
function putMarkers() {
    var events = [];
	$.ajax({
        url: "/app/ajax/get_events", 
        async: false,
		success: function(result){
            events = JSON.parse(result);
			console.log(events);
		}
	});

    /*
    google.maps.event.addListener(map, 'dragend', function() {
      var lat0 = map.getBounds().getNorthEast().lat();
      var lng0 = map.getBounds().getNorthEast().lng();
      var lat1 = map.getBounds().getSouthWest().lat();
      var lng1 = map.getBounds().getSouthWest().lng();

      var latLng = new google.maps.LatLng(lat0,lng0);
      var marker = new google.maps.Marker({
        position: latLng,
        map: map,
        title: 'gore-desno'
      });

      latLng = new google.maps.LatLng(lat1,lng1);
      marker = new google.maps.Marker({
        position: latLng,
        map: map,
        title: 'dolje-lijevo'
      });
      console.log(lat0,lng0, lat1, lng1);
    } );
    */
    
   

    for (var i = 0; i < events.length; i++) {
      var id = events[i].pk;
      var event = events[i].fields;
      var latLng = new google.maps.LatLng(event.location_lat,event.location_lng);
      var image = 'https://maps.gstatic.com/mapfiles/ms2/micons/'+event.marker_type+'.png';
      var marker = new google.maps.Marker({
        position: latLng,
        id: id,
        map: map,
        title: event.title,
        icon: image,
      });
      marker.setOpacity(0);


      markers.push(marker);

      google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
        
          return function() {
            console.log('test');
            content = getEventDetails(marker.id,marker.title);
            infowindow.setContent(content);
            infowindow.open(map,marker);
          };
      })(marker,marker.title + marker.infoWindow,infowindow));

    }



    setTimeout(function() {
      fadeInMarkers(markers);
    }, 300);

}

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2wQ0IYfyt1FxPVHeb2yVeIx4ilfjICOA&callback=initMap">
</script>

